BasedOnStyle: LLVM

Language: Cpp
Standard: c++20

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 150

BreakBeforeBraces: Attach

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortBlocksOnASingleLine: true
AllowShortLoopsOnASingleLine: false

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true

SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceInEmptyParentheses: false

Cpp11BracedListStyle: true

IncludeBlocks: Regroup
SortIncludes: CaseSensitive

FixNamespaceComments: true
ReflowComments: true

BinPackArguments: false
BinPackParameters: false

ConstructorInitializerAllOnOneLineOrOnePerLine: true
AllowAllConstructorInitializersOnNextLine: true

AlignConsecutiveAssignments:
  Enabled: false

AlignConsecutiveDeclarations:
  Enabled: false